{% macro party_block(from_title="From", from_lines=[], to_title="To", to_lines=[]) %}
  <div class="parties">
    <div>
      <p>{{ from_title }}</p>
      <ul>{% for line in from_lines %}<li>{{ line }}</li>{% endfor %}</ul>
    </div>
    <div>
      <p>{{ to_title }}</p>
      <ul>{% for line in to_lines %}<li>{{ line }}</li>{% endfor %}</ul>
    </div>
  </div>
{% endmacro %}
