{# purpose: captioned image with alt text #}
{% macro figure(src="", alt="", caption="") %}
  <figure>
    <img src="{{ src }}" alt="{{ alt }}">
    <figcaption>{{ caption }}</figcaption>
  </figure>
{% endmacro %}
